
/* body */

body {
    font-size: 16px;
    font-family: "Roboto", Helvetica, san-serif;
    background-color: white;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style-type: none;
    text-decoration: none;
}

/* header & nav */

header{
    background-color: gainsboro;
}

nav {
    height: 50px;
}

.nav-left {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.nav-right {
    float: right;
    text-align: right;
    margin-right: 40px;
    height: 50px;
}

.nav-right ul li {
    float: right;
    margin-right: 20px;
}

.menu {
}

.desktop-menu {
    display: none;
    color: darkcyan;
    width: 100%;
}

.mobile-menu {
    color: darkgrey;
    width: 100%;
    display: inline-block;
}

/* section */

section {

}

.hero {
    height: 480px;
    background: url('http://placehold.it/960x480') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.ghost-btn {
    position: relative;
    top: 75%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 200px;
    padding: 8px;
    border: 3px solid #000;
    border-radius: 5px;
    text-align: center;
    outline: none;
    transition: background-color 0.2s ease-out,
                color 0.2s ease-out;

}

.ghost-btn:hover,
.ghost-btn:active {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
}

/*article*/

article {
    display: inline-block;
}

.col {
    display: block;
    float: left;
    text-align: center;

}

.col p {
    font-size: .9rem;
}

.col h3 {

}

article .col_1_of_3 {
    width: 100%;
    height: 300px;
}

/*footer*/

footer {
    background-color: darkgray;
    height: 30px;
    width: 100%;
    display: block;
}

.bot-nav {
    height: 100%;
    width: 90%;
    margin: auto;
}

.bot-nav-left {
    float: left;
    font-size: .75rem;
    padding: 5px 0 0 5px;
}

.bot-nav-right ul li {
    font-size: .75rem;
    text-align: right;
    float: right;
    padding: 5px 5px 0 0;

}

/** tablet **/
@media only screen and (min-width: 768px) {
    body {
        margin-right: auto;
        margin-left: auto;
    }
    .desktop-menu {
        display: inline;
        float: right;
    }
    .mobile-menu {
        display: none;
    }
    article {
        width: 100%;
        text-align: center;
    }
    article .col_1_of_3 {
        width: 33.3%;

    }
}

/** desktop **/
@media only screen and (min-width: 960px) {
    body {
        width: 960px;
    }
    .desktop-menu {
        display: inline;
        float: right;
    }
}





